*.log
*.pyc
*.pdf
!NVIDIA-Software-License-Agreement.pdf
*.csv
*.pickle
*.gz
*.h5
*.xlsx
*.pptx
*.mp4
!warmup/test.mp4
*.mov
*.bmp
*.jpeg
*.mfm
*.npy
*.pth
*.pb
*.swp=
*.c
*.so
*.onnx
*.pytest_cache
__pycache__
deploy/
build/
images/
/.idea/*
_build
public
data
tmp
model_repository
releases/
/ucf/output/helm/**/**
/ucf/output/tests/dev-params1/charts/*.tgz
/ucf/output/**/**
.vscode/settings.json
/helm-chart-tmp
.venv/

# Coverage outputs
.coverage
.coverage.*
coverage.xml
htmlcov/
